	<div id='main'>
		<div id = 'header'>
			<div id='header_inside'>
			</div>
		</div>
		<div id='main_block'>
			<div id='left_col'></div>
			<div id='center'></div>
			<div id='right_col'></div>
		</div>
		<div id='footer'>
		</div>
	</div>
