<div id="mainform">

  <div id="header">
    Header
  </div><!-- end header -->

  <div id="centerform">
    <div id="left-control">
    </div>

    <div id="main">
      <a href="#" class="a_demo_one">
        Click me!
      </a>
    </div>

    <div id="right-control">
    </div>
  </div>

  <div id="footer">
    Footer
  </div><!-- end footer -->

</div><!-- end mainform-->
