<div id="mainform">

  <div id="header">
    Header
  </div><!-- end header -->

  <div id="centerform">
    <div id="leftcontrol">
    </div>

    <div id="main">
    </div>

    <div id="rightcontrol">
    </div>
  </div>

  <div id="footer">
    Footer
  </div><!-- end footer -->

</div><!-- end mainform-->
