/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

body {
  color: #CCCCCC;
}

#header {
  color: red;
}

#mainform {
  color: green;
}

#footer {
  color: black;
}

#centerform {
  margin: 0;
  auto
}

#left-control {
  position: relative;
  min-width: 120px;
  display:block;
}

#right-control {
  position: relative;
  min-width: 120px;
  display:block;
}

.a_demo_one {
  background-color: #ba2323;
  padding: 10px;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  text-decoration: none;
  color: #fff;
  border: solid 1px #831212;
  background-image: linear-gradient(bottom, rgb(171, 27, 27) 0%,
    rgb(212,51,51) 100%);
  border-radius: 5px;
}

.a_demo_one:active {
  padding-bottom: 9px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 11px;
  top: 1px;
  background-image: linear-gradient(bottom, rgb(171,27,27) 100%,
    rgb(212,51,51) 0%);
}

.a_demo_one::before {
  background-color: #ccd0d5;
  content: "";
  display:block;
  position:absolute;
  width:100%;
  height:100%;
  padding:8px;
  left:-8px;
  top:-8px;
  z-index:-1;
  border-radius: 5px;
  box-shadow: inset 0px 1px 1px #909193, 0px 1px 0px #fff;
}
